<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Question 2</title>
    </head>
    <style>
    ol li {
      background: #abadeb;
      margin: 15px;
    }
    ol {
      background: #8185f0;
      padding: 20px;
    }
    </style>
    <body>
        <h1 style="background-color: #eddac7;">Employee Details</h1>
        <ol>
        <li> <a href="{% url 'portal' %}">Employee Portal</a> </li>
        <li> <a href="{% url 'search' %}">Display</a> </li>
        </ol>
    </body>
</html>